
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2 class="section-headline"><span>Home</span></h2>
		</div>
		<div class="col-md-4">
			<img src="../../../assets/image/logo.png" class="img-fluid" alt="Responsive image" style="margin-left:20px;width:400px; margin-top:30px;z-index:1;" />
		</div>
		<img src="../../../assets/image/wood.png" class="img-fluid" alt="Responsive image" style="margin-top:-140px;z-index:-2;width: 95%" />
	</div>
  <hr style="position: absolute;width:78%; height:6px; background-color: #333; z-index:-2; margin-top: -165px;" /><hr />
  <div class="row">
		<div class="col-sm-4" style="width: 33%">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/bestseller.png" class="img-fluid" alt="Responsive image" />
					</a>
				</div>
			</div>
		</div>
   		<div class="col-sm-4" style="width: 33%">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/hours">
						<img src="../../../assets/image/hours.png" class="img-fluid" alt="Responsive image" />
					</a>
				</div>
			</div>
		</div>	
       <div class="col-sm-4" style="width: 33%">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/faq">
					  <img src="../../../assets/image/faq.png" class="img-fluid" alt="Responsive image" />
					</a>
				</div>
			</div>
		</div>	
	</div>

	<div>
		<div class="home-headline"><span>Featured Books</span></div>
		<hr  style="margin-top: -15px;" />
	</div>

 <div class="row" style="margin:auto; margin-bottom:50px; background-image: url('../../../assets/image/shelf.png')"> 
		<div class="col-sm-2">
		    <img class="img-fluid"    alt="Responsive image" src="../../../assets/image/book1.png" />
		</div>

		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image"   src="../../../assets/image/book1.png" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" src="../../../assets/image/book1.png" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image"  src="../../../assets/image/book1.png" />
		</div>
		<div class="col-sm-2" style="margin-bottom: 5%">
			<img class="img-fluid" alt="Responsive image"  src="../../../assets/image/book1.png" />
		</div>
    </div>
</div>

	