
<div class="container">
	<div class="row">
		<div class="col-md">
			<h2 class="section-headline"><span>Home</span></h2>
		</div>
		<div class="col-md">
			<img src="../../../assets/image/logo.png" class="img-fluid logo" alt="Responsive image"  />
		</div>
		<img src="../../../assets/image/wood.png" class="img-fluid wood" alt="Responsive image" />
	</div>
  <hr class="firstHr" />
  <div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/bestseller.png" class="img-fluid" alt="Responsive image" />
					</a>
				</div>
			</div>
		</div>
   		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/hours">
						<img src="../../../assets/image/hours.png" class="img-fluid" alt="Responsive image" />
					</a>
				</div>
			</div>
		</div>	
       <div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/faq">
					  <img class="lastImage"src="../../../assets/image/faq.png" class="img-fluid" alt="Responsive image"/>
					</a>
				</div>
			</div>
		</div>	
	</div>

	<div>
		<div class="home-headline"><span>Featured Books</span></div>
		<hr  class="secondHr" />
	</div>

 <div class="row lastRow" style="background:transparent url('../../../assets/image/shelf.png') no-repeat center center /cover">
		<div class="col">
		    <img class="img-fluid images"  alt="Responsive image" src="../../../assets/image/book1.png" />
		</div>
		<div class="col">
			<img class="img-fluid images" alt="Responsive image"   src="../../../assets/image/book1.png" />
		</div>
		<div class="col">
			<img class="img-fluid images" alt="Responsive image" src="../../../assets/image/book1.png" />
		</div>
		<div class="col">
			<img class="img-fluid images" alt="Responsive image"  src="../../../assets/image/book1.png" />
		</div>
		<div class="col col5" >
			<img class="img-fluid images col5" alt="Responsive image"  src="../../../assets/image/book1.png" />
		</div>
     </div>
</div>

	