<div class="page-top first"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand pointer" routerLink="/home" style="color: white">LE'S BOOKSTORE</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/bookList">BOOK </a>
          </li>
          <form  (ngSubmit)="onSearchByTitle()" class="form-inline my-2 my-lg-0" >
            <div class="form-group">
            <input [(ngModel)]="keyword" name="keyword" class="form-control mr-sm-2" type="search" placeholder="Book Title" aria-label="Search">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ul>
      </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" mat-button routerLink="myAccount">MY ACCOUNT</a>
        </li>
        <li *ngIf="loggedIn">
          <a mat-button routerLink="/shoppingCart">SHOPPING CART</a>
        </li>
        <li *ngIf="loggedIn">
          <a mat-button routerLink="myProfile">MY PROFILE</a>
        </li>
        <li *ngIf="loggedIn">
          <a mat-button (click)="logout()">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>